.genericContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.generic_link {
  cursor: pointer;
  vertical-align: middle;
}

.right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.left {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.date-more {
  display: flex;
  justify-content: space-between;
  width: '100%';
  align-items: center;
  padding: 1rem;
}

.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.row {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .drawer {
    display: none;
  }
}

.noShadow {
  box-shadow: none !important;
}

.keywords {
  display: flex;
  justify-content: flex-end;
}

.paddTopBott {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
